.open-sans-general {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 475;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body, h1 {
    margin: 0;
    padding: 0;
}


header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212730; 
    padding: 10px 0px; 
    z-index: 1000; 
}

.header-title {
    font-size: 45px; 
    font-weight: bold; 
    color: #fff; 
}


.header-title a {
    color: inherit; 
    text-decoration: underline; 
}


.header-title a:hover {
    text-decoration: underline dotted; 
    color: #fffffff1;
}

body {
    background-color:#212730; 
    font: normal 20px/1.4 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    color:#fffffff1;
    max-width: 1000px;
}


.description{
    font-size:15px;
    color:#fffffff1;
    margin-top:-5px;
    
}

.head{
    margin-left:20px;
}

.center-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
    width:75%;
}

.center-text h2{
    font-size: 45px !important;
    color:#fffffff1;
}

.center-text h2 a{
    color:#fffffff1;
    margin-right: 0px;

}

.center-text a{
    color:#fffffff1;
}

.center-text a:hover {
    text-decoration: underline dotted; 
    color: #fffffff1;
}


.navigation {
    position: absolute;
    top: 0;
    right: 3%;
    font-weight:bold;
}

.nav-link {
    display: inline-block; 
    margin-left: 50px; 
    text-decoration: none;
    color: #fffffff1; 
    font-family: "Open Sans", sans-serif; 
    font-size: 16px; 
}

.nav-link:hover {
    text-decoration: underline; 
}

.about-image img {
    border-radius:50%;
    width: 300px; 
    height: 300px; 
    object-fit: cover;
}

.separator {
    border: none; /* Remove default border */
    border-top: 1px solid #ffffff80; /* Set the style, color, and opacity of the border */
    margin: 20px 0; /* Adjust margin for spacing */
}
