.open-sans-general {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 475;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body, h1 {
    margin: 0;
    padding: 0;
}

@media (max-width: 845px) {

    .header-content {
        flex-direction: column;
        align-items: center;
    }
    
    .header-title {
        font-size: 24px;
        margin-top: 5%;
        text-align: center;
        width: 90%;
        margin-bottom: 0px;
    }

    .header-title a{
        margin: 0px !important;
    }

    .social-buttons{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px; /* Hack fix, for some reason wont properly center, so manually move it right */
    }

    .description{
        display: none;

    }

    .nav-link {
        display: block;
        margin-left: 10px !important;
        text-align: center;
    }

    .navigation{
        margin-left: 0px !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .center-text h2 {
        margin-top: 15%;
        font-size: 30px !important;
        text-align: center;
        width: 80%;
    }
    .center-text {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        flex-direction: column; /* Stack items vertically */
        text-align: center;
        margin-top: 50px;
        width: 100%;
    }

    .about-container {
        align-items: center; /* Center horizontally */
        padding-top: 50px; /* Adjust padding */
        margin-top: 5%;
    }

    .about-text {
        padding: 20px; /* Add padding */
        font-size: 18px;
        text-align: center; /* Center text */
        width: 90%;        

    }

    .about-image {
        display: none;
    }

    .work-experience h1{
        font-size:30px;
        padding-top:0%;
        text-align: center;
    }

    .container{
        margin-top: 20px !important;
    }
    
    .work-experience h2{
        font-size:22px;
    }
    
    .work-experience p{
        width:85%;
        font-size: 18px;
        text-align: left;
    }

    .work-experience img.company-logo{
        display:block;
        margin: 0 auto;
    }
    
    .github-button {
        display: inline-block;
        text-decoration: none;
        color: #fffffff1; 
        padding: 0px; /* Future Self: Padding of the hover/glowup element */
        height: 18px; 
        width: 18px;
        line-height: 0px;
        background-color: transparent;
    }
    
    /* Optional: Adjust icon size */
    .github-button .fab.fa-github {
        font-size: 30px !important;
    }
    
    /* CSS for Email button */
    .email-button {
        display: inline-block;
        text-decoration: none;
        color: #fffffff1;
        width: 18px; /* Set width */
        height: 18px; /* Set height */
        line-height: 0px; /* Vertically center the icon */
        background-color: transparent; /* Set background to transparent */
        margin-left: 0px; 
    }
    
    /* Optional: Adjust icon size */
    .email-button .fas.fa-envelope {
        font-size: 30px !important;
    }
}


body {
    background-color:#212730; 
    font: normal 20px/1.4 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    color:#fffffff1;
    max-width: 1000px;
}

.description{
    font-size:15px;
    color:#fffffff1;
    margin-top:-5px;
    margin-left: -40px;
    margin-bottom: 0px;
    
}

.center-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    height: 100%; /* Ensure it covers the entire viewport */
}

.center-text h2{
    font-size: 45px;
    color:#fffffff1;
}

.center-text h2 a{
    color:#fffffff1;
    margin-right: 0px;

}

.center-text a{
    color:#fffffff1;
}

.center-text a:hover {
    text-decoration: underline dotted; 
    color: #fffffff1;
}

.head {
    margin-left: 0px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212730;
    padding: 10px 0px;
    z-index: 999;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center items vertically */
}

.header-content {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
}

.header-title {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-right: 0px; /* Add margin for spacing */
    white-space: nowrap;
}

.header-title a {
    color: inherit;
    text-decoration: underline;
    margin-left: -40px;
}

.header-title a:hover {
    text-decoration: underline dotted;
    color: #fffffff1;
}

.navigation {
    font-weight: bold;  
    display: flex;
    align-items:center;
    margin-left: 220px; 
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove default list styles */
    display: flex;
}

.nav-link {
    margin-left: 40px; /* Add margin between links */
    text-decoration: none;
    color: #fffffff1;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    white-space: nowrap;
}

.nav-link:hover {
    text-decoration: underline;
}

.social-buttons {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
}

.github-button,
.email-button {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    text-decoration: none;
    color: #fffffff1;
    margin-left: 20px; /* Add margin between buttons */
}

.about-container {
    display: flex;
    padding-top: 0px;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; /* Prevent vertical scrolling */
}

.about-text {
    flex: 2; 
    padding: 0 20px; 
    height: 100%;
    max-width: 800px; /* Limit the width of the text container */
}

.about-text h2{
    margin-bottom: 0px;
}

.about-text p{
    font-size: 18px;
}
.about-image img {
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.about-image img {
    border-radius:50%;
    width: 300px; 
    height: 300px; 
    object-fit: cover;
}

.separator {
    border: none; /* Remove default border */
    border-top: 1px solid #ffffff80; /* Set the style, color, and opacity of the border */
    margin: 20px 0; /* Adjust margin for spacing */
}
